

body {
  background-color: #8556b8;
}
 #70489c
#5b3b80
.pageContainer {
  width: 940px;
  margin: 22px auto 0 auto;
  padding: 22px;
  background-color: #8556b8;
}
 
.imageContainer {
  float: left;
  width: 690px;
}
 
.textContainer {
  float: left;
  width: 333px;
  margin-left: 22px;
  margin-top: 22px;
}

img {
  width: 100%;
}
 
h1 {
  font-family:'Brush Script MT', cursive;
  font-size: 64px;
  color: #546cba;
}
 
p, li {
  font-family: 'Times New Roman', serif;
  font-size: 22px;
  color: #51473b;
}


.pageContainer:after { 
  content: " ";
  display: table;
  clear: both;
}
 
